@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import 'tailwindcss';

@theme {
  --color-teal-primary: #1dbfad;
  --color-teal-dark: #17a898;
  --color-navy: #162040;
  --color-bg: #edf9f8;
  --font-sans: 'Poppins', sans-serif;
}

* {
  font-family: 'Poppins', sans-serif;
}
